#plan .theme-title .title-c,
#plan .theme-title .title-b {
    display: none;
}

#plan .info-tab.-active .info-tab-txt {
    color: var(--mc-tab-text-hover);
    border-bottom: 4px solid var(--mc-tab-text-hover);
}

#plan .info-tabs-block {
    box-shadow: 0px -1.7px 0px -1px var(--mc-tab-border-cl) inset;
}

#plan .info-tab:after {
    background-color: var(--mc-tab-text-color);
}

#plan .info-tab:hover .info-tab-txt {
    color: var(--mc-tab-text-hover);
}

#plan .info-tab .info-tab-txt {
    transition: .5s;
    color: var(--mc-tab-text-color);
    border-bottom: 4px solid transparent;
}

#plan .info-tab{
    background: transparent;
}
.theme-title {
    color: var(--mc-main-5);
}

.dynamic-selector-ui {
    color: var(--text-color);
    border-radius: 0;
    border-bottom: 0.7px solid var(--text-color);
    background: transparent;
}

.plan-select-i p {
    color: var(--text-color);
}

.info-tab-options {
    background: #fff;
    border-radius: 0;
}

.info-tab-option {
    color: var(--text-color);
}

.info-tab-option:hover {
    background-color: var(--mc-main-1);
    color: #F9F9F9;
}

.dynamic-selector-ui-wrap .-arrow {
    background-image: var(--mc-chevron-up);
    transform: rotateZ(180deg);
    filter: grayscale(1);
}

.info-tab-options::-webkit-scrollbar {
    width: 6px;
}

.info-tab-options::-webkit-scrollbar-track {
    background: transparent;
}

.info-tab-options::-webkit-scrollbar-thumb {
    background: #746C59;
    border-radius: 8px;
}

#plan .info-tabs-block-wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#plan .info-tabs-block {
    grid-column: 10 / 12;
    grid-column-start: 2;
}

#plan .plan-pic img {
    border-radius: 0;
}

@media (max-width: 1319px) {
    #plan h2.title-a {
        font-weight: 400 !important;
        font-size: 38px !important;
        line-height: 40px !important;
    }

    #plan .info-tab-txt {
        font-size: 22px;
        line-height: 28px;
    }

    #plan .info-tabs-block-wrap {
        display: block;
        margin: auto;
    }

    #plan .info-tab {
        padding: 0;
    }
}